body {
  position: relative;
  width: fill;
  height: 850px;
  font-family: sans-serif;
  background: #e8f0ff;
  overflow: auto;
}

h1 {
  border-bottom: 1pt solid black;
  margin: 30px;
}

.navbar {
  width: auto;
  height: 50px;
  background: rgb(9, 30, 68);
  border-radius: 2px;
}

.navbar-right {
  float: right;
  width: 290px;
  padding-right: 10px;
}

.navbar-left {
  float: left;
  width: 290px;
  padding-top: 10pt;
  padding-left: 10pt;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.navbar {
  width: auto;
  height: 50px;
  background: rgb(9, 30, 68);
  border-radius: 2px;
}

.navbar ul {
  float: left;
  margin-top: 5px;
  padding: 0;
  width: 300px;
  margin-right: 0px;
}

.navbar li {
  float: right;
  list-style: none;
  margin: 0 20% 0 0;
}

.navbar button {
  display: block;
  height: 5px;
  margin-top: 5px;
  border: 1px solid blue;
  font-weight: bold;
  color: white;
  height: 30px;
  width: 90px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: blue;
  cursor: pointer;
  font-size: 24pt;
}

.navbar li a,
.navbar li a:link {
  text-decoration: none;
  width: 0px;
  height: 30px;
}

.navbar li a button:hover {
  background: white;
  color: #444;
}

.item1 {
  grid-area: menu;
  width: auto;
  height: 25px;
  margin: 20px -150px 20px 100px;
  background: white;
  border: none;
  box-sizing: content-box;
  border-radius: 20px;
}

.item1 .detail {
  text-align: center;
  font-size: 14pt;
}

.item2 {
  grid-area: right;
}

.item2 button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-left: 20pt;
  border-radius: 20pt;
}

.grid-container {
  display: grid;
  grid-template-areas: "menu menu right";
  grid-gap: 0px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.container {
  width: auto;
  height: 600px;
  top: 1400px;
  background: white;
  border: 1px solid #091e44;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 5;
}
.kolom {
  display: grid;
  position: relative;
  top: 0px;
  left: 17%;
  display: flex;
  width: 1000px;
  height: 500px;
  background-color: white;
  box-sizing: border-box;
  border: 0px solid black;
  align-self: center;
  z-index: 4;
}
.metode {
  position: relative;
  z-index: 2;
  width: 1000px;
  height: 60px;
  left: 0px;
  top: 25px;
  background: #b5ceff;
  border-radius: 0px 90px 0px 0px;
}
.metode h2 {
  margin-left: 10px;
}
.id {
  position: absolute;
  height: 85px;
  width: 300px;
  box-sizing: border-box;
  border: 0px solid black;
  background-color: #e8f0ff;
  border-radius: 5px;
  z-index: 2;
  left: 0px;
  top: 100px;
  padding: 15pt;
}
.detail_harga {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 550px;
  height: 85px;
  background-color: #e8f0ff;
  box-sizing: border-box;
  border: 0px solid black;
  border-radius: 5px;
  padding: 15px;
}
.harga {
  position: absolute;
  margin-bottom: 5px;
  top: 0px;
  left: 70px;
}
.total {
  position: relative;
  top: 15px;
  left: 55px;
}
.virtual {
  position: absolute;
  top: 220px;
  left: 0px;

  height: 250px;
  width: 1000px;
  background-color: #e8f0ff;
  box-sizing: border-box;
  border: 0px solid black;
  border-radius: 5px;
  z-index: 3;
}
.virtual_content {
  display: grid;
  left: 50px;
  position: relative;
  width: 900px;
  height: 500px;

  z-index: 2;
}
.virtual_acc {
  border-bottom: 1.5pt solid black;
  margin-top: 5px;
  width: 900px;
  height: fit-content;
}
.virtual_acc h1 {
  margin: 0px;
  padding: 5px;
  font-weight: 150;
  border: 0px;
}
.virtual_acc small {
  color: grey;
  margin-left: 5px;
}
.BCA {
  border-bottom: 1.5pt solid black;
  margin-top: 15px;
  width: 900px;
  height: fit-content;
  position: absolute;
  top: 80px;
}
.BRI {
  border-bottom: 1.5pt solid black;
  margin-top: 5px;
  width: 900px;
  height: fit-content;
  position: absolute;
  top: 145px;
}
.virtual span {
  margin-left: 5px;
  float: inline-end;
}
span .choose {
  float: right;
}
.choose img {
  outline-color: none;
  background-image: #b5ceff;
}
.submit {
}
