<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/cariTiketStyle.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="gambar/plane.png">
    <title>SWINGS.com</title>
    
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="Judul">SWINGS.com</div>
        </div>
        <div class="navbar-right">
            <ul>
                <li>
                    <img src="https://cdn-icons.flaticon.com/png/128/2102/premium/2102633.png?token=exp=1641823828~hmac=0ea66dd49c4f772b4e2993d861f32230"
                        width="40px">
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Beli Tiket</h1>
        <form method="post">
            <div class="txtfield">
                <div class="label1">
                    <label for="departure">
                    <img src="/gambar/Cari/departures.png" width="30px">Departures</label>
                    <select name="departure" id="departure">
                        <option></option>
                    </select>
            
                </div>
                <div class="label2">
                    <label for="arrival">
                    <img src="/gambar/Cari/arrivals.png" margin-right="5px" width="30px">Arrivals</label>
                    <select name="arrival" id="arrival">
                        <option></option>
                    </select>
                </div>
                
            </div>
            <div class="tanggalberangkat">
                
                <label for="date">Berangkat</label>
                <input type="date" name="tanggalberangkat">
            </div>
            <span></span>
            <div class="idpenumpang">
                <label for="">Dewasa</label>
                <input type="number" name="Dewasa" id="Dewasa">
                <label for="">Dewasa</label>
                <input type="number" name="Dewasa" id="Dewasa">
                <label for="">Dewasa</label>
                <input type="number" name="Dewasa" id="Dewasa">
            </div>
            <div class="kabin">
                <label for="kelaskabin">
                    <img src="/gambar/Cari/cabin.png" width="30px">Kelas Kabin</label>
                <select name="kelaskabin">
                    <option></option>
                </select>
            </div>
    
            <div class="cari">
                <label for="Cari">
                    <img src="/gambar/Cari/search.png" width="30px">
                    cari
                </label>
                <input type="submit" value=" ">
            </div>
        </form>

    </div>
</body>

</html>