<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="gambar/plane.png">
    <title>SWINGS.com</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <div class="identitas">
                <input type="text" name="email" id="email" placeholder="Your Email">
            </div>
            <div class="identitas">
                <input type="text" name="pass" id="password" placeholder="">
            </div>
        </form>
        <!-- <form>
            <div class="mainform">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
    </div>
</body>
</html>